.App {
  text-align: center;
  background-color: #F9F9F9;
  margin-top: -20px;
  padding: 30px 30px;
  height: 300vh;
}


p{
  font-family: 'Open Sans', sans-serif;
}


h1, h2, h3, h4{
  font-family: 'Open Sans', sans-serif;
}

h1{
  margin: 20px;
}

.Film{
  text-decoration: none;
  margin: 20px auto;
  background: white;
   padding: 10px 10px;
   width: 60%;
   border-radius: 10px;

}

.Film-i{
font-size: 30px;
color: red;
}

.Film:hover{
   box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}


.Film a{
  text-decoration: none;
  color: black;

}

.Film a:hover{
opacity: 1;
}

.icones{
 display: flex;
 margin: auto;
 text-align:center;
 width: 100px;
justify-content: space-between;
font-size: 20px
}


.empty{
  color:lightgrey
}


.empty:hover{
  color: red;
  opacity: 0.6;
  cursor: pointer;
}

.full{
  color: red;
  cursor: pointer;
}

.search{
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  margin-bottom: 30px;

}

.FullFilm{
  background: white;
  padding: 20px;
  width: 60%;
  margin: 30px  auto;

}
.Backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}


.Modal {
    position: fixed;
    color: #4F4F4F;
    z-index: 500;
    background-color: white;
    margin: auto;
    display: block;
    width: 40%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 3px 10px rgba(187, 187, 187, 0.25);
    padding: 20px;
    left: 30%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}


.modal-i{
  color: green;
  font-size: 30px;
}


.charac{
float: left;
font-size: 12px;
margin: 10px;
text-align: left;
background: white;
padding: 10px;
}

.charac p{
  margin: 0px;
}

.Characters{
  background: white;
  margin: 10px;
}


.spinner{
  color: red;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

